[submodule "ext/QobuzApiSharp"]
	path = ext/QobuzApiSharp
	url = https://github.com/DaveBinM/QobuzApiSharp
[submodule "ext/Lidarr"]
	path = ext/Lidarr
	url = https://github.com/Lidarr/Lidarr
	branch = plugins
